/* @import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  color: var(--dark-theme-quintenary);
}
