.box {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.textArea {
  text-indent: 5px;
}

::-webkit-input-placeholder {
  padding: 5px 5px 5px 0;
}

h1,
h2,
h3,
h4 {
  color: white;
}

/* h2 {
  margin-top: 1.8em;
} */

.btn-length {
  width: 150px !important;
  height: 75px;
}

.custom-btn {
  padding-top: 23px !important;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.8em;
}

.two-buttons {
  margin: 0 20px 20px 20px;
}
