.box {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  color: white;
}

.btn-length {
  width: 150px !important;
  height: 75px;
}

.custom-btn {
  padding-top: 23px !important;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.two-buttons {
  margin: 0 20px 20px 20px;
}
